<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='scheduler_in_style.css') }}">
    <title>Dock Scheduler</title>
</head>
<body>
<div class="page-wrapper">
    <div class="header">
        <h1>Dock Scheduler</h1>
    </div>
    <nav class="home-nav">
        <a href="/reservations" class="btn btn-secondary home-btn">All Reservations</a>
        <a href="/monthly" class="btn btn-secondary home-btn">Monthly View</a>
        <a href="/daily" class="btn btn-secondary home-btn">Live Dock View</a>
    </nav>
</div>
</body>
</html>
